NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/btimoveis?schema=public"
JWT_SECRET="d8f9c1e4b7a29f5e6c3a8b9d2f7e1c4a9b6d3f8e2c1a7b9d4f6e8c3a1b5d7f9"
JWT_EXPIRES_IN="1d"

STORAGE_PROVIDER=minio
MINIO_ENDPOINT=localhost
MINIO_PORT=9000
MINIO_ACCESS_KEY=minio
MINIO_SECRET_KEY=minio123
MINIO_BUCKET=btimoveis
MINIO_USE_SSL=false
PUBLIC_BASE_URL=http://localhost:3000
